{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <br>
    <ul style="list-style-type: none">
        <div class="card-group">
            {% for listing in active_listings %}
                <li>
                    <div class="card mr-3" style="width: 18rem;">
                        <img src="{{ listing.image_url }}" class="card-img-top"alt="...">
                        <div class="card-body">
                        <h3 class="card-title">{{ listing.title }}</h3>
                        <h5 class="card-title">Price: $</h5>      
                        <p class="card-text">{{ listing.description }}</p>
                        <a href="{% url 'listings' listing.id %}" class="btn btn-primary">Check this listing!</a>
                        </div>
                    </div>
                </li>         
            {% endfor %}
        </div>
    <ul>
{% endblock %}

